In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2022-07-05 23:05:37,73.5069,80.5464,34.43,98,96,11.05
1,1,Aloleng,PH,2022-07-05 23:05:38,16.1307,119.7824,80.98,73,100,3.42
2,2,Bambous Virieux,MU,2022-07-05 23:05:38,-20.3428,57.7575,65.21,77,94,14.18
3,3,Dakar,SN,2022-07-05 23:05:38,14.6937,-17.4441,79.57,87,51,12.55
4,4,Rikitea,PF,2022-07-05 23:05:39,-23.1203,-134.9692,76.08,72,6,17.90

In [6]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)

# Add the headmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Aloleng,PH,2022-07-05 23:05:38,16.1307,119.7824,80.98,73,100,3.42
14,14,College,US,2022-07-05 23:05:43,64.8569,-147.8028,81.00,52,75,5.75
20,20,Hilo,US,2022-07-05 23:05:45,19.7297,-155.0900,89.28,70,0,12.66
26,26,Auki,SB,2022-07-05 23:05:47,-8.7676,160.7034,83.39,69,100,6.08
27,27,San Miguel,SV,2022-07-05 23:05:48,13.4833,-88.1833,81.82,89,64,3.20
38,38,Half Moon Bay,US,2022-07-05 23:05:51,37.4636,-122.4286,82.54,70,20,17.27
58,58,Kavaratti,IN,2022-07-05 23:06:59,10.5669,72.6420,81.45,83,100,21.72
65,65,Kapaa,US,2022-07-05 23:07:01,22.0752,-159.3190,85.98,71,100,13.80
67,67,Hithadhoo,MV,2022-07-05 23:07:02,-0.6000,73.0833,82.69,72,30,8.05
70,70,Tomatlan,MX,2022-07-05 23:07:03,19.9333,-105.2500,84.45,61,100,3.18

In [20]:
preferred_cities_df.count()

City_ID       103
City          103
Country       103
Date          103
Lat           103
Lng           103
Max Temp      103
Humidity      103
Cloudiness    103
Wind Speed    103
dtype: int64

In [21]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
1      Aloleng      PH     80.98  16.1307  119.7824
14     College      US     81.00  64.8569 -147.8028
20        Hilo      US     89.28  19.7297 -155.0900
26        Auki      SB     83.39  -8.7676  160.7034
27  San Miguel      SV     81.82  13.4833  -88.1833

In [22]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging and our latitude and longitude"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Aloleng,PH,80.98,16.1307,119.7824,Steve Walden and Emma Sison-Walden Residence
14,College,US,81.00,64.8569,-147.8028,Pike's Waterfront Lodge
20,Hilo,US,89.28,19.7297,-155.0900,Hilo Hawaiian Hotel
26,Auki,SB,83.39,-8.7676,160.7034,Auki Motel
27,San Miguel,SV,81.82,13.4833,-88.1833,Excalibur
38,Half Moon Bay,US,82.54,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
58,Kavaratti,IN,81.45,10.5669,72.6420,Hotels in Lakshadweep Islands
65,Kapaa,US,85.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
67,Hithadhoo,MV,82.69,-0.6000,73.0833,Scoop Guest House
70,Tomatlan,MX,84.45,19.9333,-105.2500,El Salvial

In [37]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))